* {
  margin: auto;
  padding: auto;
}

body {
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin-top: 80px;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 3px 3px 3px rgb(164, 2, 2);
}
/*---Calculatrice ----*/
.calculatrice input {
  width: 70px;
  height: 80px;
  font-size: 75px;
  border-radius: 10px;
  margin:10px;
  background-color: #000;
  color: #fff;
  border-style: none;
}

#myform {
  margin-left: 55px;
  margin-top: 20px;
  background-color: lightgrey;
  width: 390px;
  box-shadow: 6px 13px 17px 6px #333;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}


/*----Horloge---*/

.horloge{
  width:500px;
  margin-bottom: 120px;
}

#clock {
  color: #fff;
  font-size: 65px;
  background-color: #333;
  width: 200px;
  margin: 0px auto;
  font-family: Helvetica,Arial;
  text-align: center;
}

/*-------Word ----- */
.wordcount {
  background-color: #eee;
  width: 450px;
  height: 200px;
}
.wordcount input {
  margin-top: 100px;
  margin-left: 110px;
  width: 180px;
  height: 40px;
  display: block;
  padding-left: 45px;
}

#output {
  margin-top: 45px;
  width: 100px;
  background: lightgreen;
  margin-left: 40px;
}

#btn {
  width: 350px;
  height: 70px;
  color: #fff;
  background-color: #1f80c9;
  border-style: none;
  border-radius: 50px;
  margin-left: 45px;
}

/* -----Contact form ----*/

.contactform form {
  width: 500px;
  margin: 10px auto;
  margin-top: 70px;
  padding: 15px 15px;
  background: rgb(162, 162, 162);
  padding-bottom: 55px;
  border-radius: 25px;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: #000;
  box-shadow: 0 3px 3px #333;
  margin-bottom: 20px
}

.contactform button {
  padding: 12px 22px 12px 22px;
  color: #fff;
  background-color: #333;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 5%;
  width: 30%;
  border-width: 1px 1px 3px;
}

.contactform fieldset {
  margin-bottom: 10px;
  border: none;
}
.contactform label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#clear {
  padding: 10px;
  color: #000;
  background-color: #fff;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 19%;
  width: 30%;
  border: 1px solid #333;
  border-width: 1px 1px 3px;
}

/*------ Slider ------*/

#btn1 {
  padding: 10px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 20px;
}

#btnr {
  padding: 10px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 20px;
}

img {
  width: 750px;
  height: 400px;
}

.wrapper1 {
  margin-left: 40px;
}

/*------Addition game------*/

#wrapper2 {
  width: 525px;
  height: 250px;
  background-color: rgb(162, 162, 162);
  margin-top: 50px;
  margin-left: 40px;
}

#btn5 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  width: 100px;
  border: 2px solid #333;
}


/* --- -Todo list --- */

#add {
  background-color: rgb(111, 0, 0);
  border: 0;
  color: #fff;
  padding: 10px 10px ;
  padding-right: 40px;
  cursor: pointer;
  margin-top: 20px;
}

.remove {
  margin-top: 12px;
  background-color: rgb(20, 133, 205);
  float: right;
  clear: both;
  padding-right:20px;
  border-radius: 5px
}

#wrapper {
  width: 350px;
  background-color: aliceblue;
  margin: 50px 0 0 80px;
  padding: 30px 65px 30px 50px;
  border-radius: 25px;
}

ul {
  list-style: none;
  text-align: left;
  line-height: 35px;
}
#task {
  width: 220px;
  height: 20px;
  margin-left: 12px;
}

/* --- taux de change ---- */

#box {
     width:300px;
     height:80px;
     border:2px solid black;
 }
